body {
  background-color: beige;
}

:root {
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5c4033;
  width: 100vw;
  z-index: 10;
}

ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 100px;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 100%;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
