body {
  margin: 25px;
  display: flex;
  column-gap: 5px;
  position: relative;
}

div.polaroid {
  width: 80%;
  width: 750px;
  height: 430px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

a:hover {
  background-color: yellow;
}
